//Helvetica Neue Imports
@font-face {
    font-family: Helvetica-Medium;
    src: url("../assets/fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-Light;
    src: url("../assets/fonts/HelveticaNeueCyr-Light.otf") format("opentype");
}